.select2-container .select2-selection--single {
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
}

.table thead th {
    vertical-align: inherit;
    font-size: 0.7rem;
}



body, h1, h2, h3, h4, h5, h6, p, .navigation-menu>li>a{
    font-family: 'Almarai', sans-serif;
}

body{
    line-height: 1.2;
    font-size: 0.8rem;
    color: #2c2c2c;
}

.card-box {
    padding: 1rem;
    margin-bottom: 15px;
    border-radius: 0.7rem;
}

@media (min-width: 992px)
{
    body[data-layout=horizontal][data-topbar=light] .navigation-menu>li>a {
        /*color: #000000;*/
        /*font-weight: 600;*/
        font-size: 14px;
    }
}


a {
    color: #006ee5;
}

#topnav .has-submenu.active>a {
    color: #ffcc00;
}

body[data-layout=horizontal] .content-page {
    padding: 107px 10px 0 10px;
}


.btn-group-sm>.btn, .btn-sm {
    font-size: .8rem;
}

.table td, .table th {
    vertical-align: inherit;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #cbcbcb;
}

.table thead th {
    border-bottom: 2px solid #cbcbcb;
}


table.dataTable.table-sm > thead > tr > th {
    font-size: 12px;
}

#sidebar-menu>ul>li>a {
    padding: 7px 20px;
}

#sidebar-menu>ul>li>a {
    color: #000000;
}

#sidebar-menu>ul>li>a.active {
    color: #0046e5;
}


label {
    font-weight: 600;
    color: #323a46;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tox-notifications-container {
    display: none;
}


.content-page {
    margin-top: 77px;
}



button.dt-button, div.dt-button, a.dt-button, input.dt-button {
    padding: .1em 1em !important;
    float: left !important;
    border: 1px solid #0097c5 !important;
    color: white !important;
    background: linear-gradient(to bottom, #0095c3 0%, #008eb9 100%) !important;

}


/* ------- أنيمشن الاشعارات ------------ */
:root {
    --main-color: #ecf0f1;
    --point-color: #555;
    --size: 5px;
}

.loader {
    background-color: var(--main-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
}

.loader__element {
    border-radius: 100%;
    margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
    100% { transform: scale(2); }
}

/* ------------------- أنيمشن الاشعارات ------------------ */




/* start @media  print ------------------------------*/
@media  print {



    @page {
        @bottom-left {
            content: counter(page) "/" counter(pages);
        }
    }

    .agreement{
        display: none;
    }

    html, body, div, span, applet, object, iframe, h1, h2,  h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        font-size: 13pt !important;
        /*text-align: justify !important;*/
        /*text-justify: inter-word !important;*/
        /*line-height: 27pt !important;*/
    }

    h3{
        font-size: 24pt !important;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #232323 !important;
    }

    .table thead th {
        border: 1px solid #232323 !important;
        font-size: 16px;
        line-height: 30px;
    }

    .table {
        color: #232323 !important;
    }

}

/* end @media  print ------------------------------*/


@media (min-width: 1200px)
{
    body[data-layout=horizontal] .container-fluid {
        max-width: 98%;
    }
}

.table-sm td, .table-sm th {
    padding: 0.3rem;
}


.navigation-menu>li>a {
    font-size: 12px;
    line-height: 12px;
    padding: 12px  10px;
}

body[data-layout=horizontal] .page-title-box .page-title {
    line-height: 50px;
    margin: 0;
    font-size: 14px;
}



.navbar-custom .topnav-menu .nav-link {
    color: #6c757d;
    line-height: 60px;
    max-height: 60px;
}

.logo {
    display: block;
    line-height: 60px;
}

.logo-box {
    height: 70px;
}

.navbar-custom {
    height: 60px;
}

#topnav .topbar-menu {
    margin-top: 60px;
}


.navigation-menu>li .submenu li a {
    color: #343a40;
}


/*-----------------------*/

.table {
    color: #222222;
}


/*==============================*/
/*الأزرار*/

.btn-purple {
    color: #fff;
    background-color: #9600c1;
    border-color: #8000a2;
}

.btn-purple:hover {
    color: #fff;
    background-color: #7b009a;
    border-color: #5a0070;
}


.btn-primary {
    color: #fff;
    background-color: #2680d7;
    border-color: #1e73cc;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0f63b0;
    border-color: #094e8d;
}



.btn-danger {
    color: #fff;
    background-color: #ff3535;
    border-color: #ff2828;
}

.btn-danger:hover {
    color: #fff;
    background-color: #d31a1a;
    border-color: #b91111;
}


.btn-secondary {
    color: #fff;
    background-color: #38404a;
    border-color: #2d3238;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #596065;
    border-color: #42474b;
}

.btn-pink {
    color: #ffffff;
    background-color: #ef46a5;
    border-color: #f11a93;
}

.btn-pink:hover {
    color: #ffffff;
    background-color: #e8128d;
    border-color: #d0097a;
}

.text-pink {
    color: #dd1a88!important;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #d1d1d1;
}


/*================================*/


@media (max-width: 991.98px)
{
    body[data-layout=horizontal] .content-page {
        padding-top: 70px;
    }

}



.btn-primary {
    background-color: #500f86;
    border-color: #3e2553;
}

.btn:hover {
    background-color: #7628b6;
    border-color: #4e1f75;
}

a {
    color: #500f86;
    text-decoration: none;
}

a {
    color: #500f86;
}

.text-primary {
    --ct-text-opacity: 1;
    color: #500f86 !important;
}
