* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #c9c9c9;
}
.content {
    width: 210mm;
    margin: auto;
    background: white;
    padding: 0;
}

/* Fixed Header */
.page-header-space { height: 150px; }
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    z-index: 1000;
}
.page-header img {
    width: 100%;
}

/* Fixed Footer */
.page-footer-space { height: 120px; }
.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    z-index: 1000;
}
.page-footer img {
    width: 100%;
}

.page {
    padding: 10px 20px;
}

table {
    width: 100%;
}

@page {
    size: A4;
    margin: 2mm;
}

@media print {
    thead { display: table-header-group; }
    tfoot { display: table-footer-group; }
    button, .no-print { display: none; }
    html, body {
        margin: 0 !important;
        padding: 0 !important;
    }
    .page-header,
    .page-footer {
        display: block;
    }
}
