.cke_notifications_area {
    pointer-events: none;
    display: none;
}


.form-group{
    margin-bottom: 12px;
}
.modal-footer{
    margin-top: 20px;
}

.tox-notifications-container {
    display: none;
}


body, h4, h5, h6 {
    font-family: 'Cairo', sans-serif;
}


body {
    color: #232323;
}


.side-nav .side-nav-item .side-nav-link {
    color: #232323;
}

.page-title {
    color: #232323;
}

.app-topbar .topbar-menu .topbar-item .topbar-link {
    color: #232323;
}


.footer {
    color: #232323;
}

.footer .footer-links a {
    color: #232323;
}

.form-label {
    margin-bottom: .2rem;
}

.table-sm>:not(caption)>*>* {
    padding: .5rem .3rem;
}

.table>:not(caption)>*>* {
    color: #232323;
    font-size: 13px;
}
.card-box{
    border-radius: 5px;
    padding: 10px;
    background-color: white !important;
    margin-top: 3px;
    margin-bottom: 3px;
    /* box-shadow: 0 4px 8px 0 rgba(139, 139, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

table{
    margin-bottom: 0px !important;
}

